<%= render "shared/second-header"%>


<div class='form-wrap'>
  <div class='form-header'>
    <h3>
      初めてのご利用の方は
    </h3>
  </div>
  <div class='registration-type'>
    <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post, class: 'blue_btn', method: :post %>
    <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, class: 'white_btn', method: :post %>
    <%= link_to 'メールアドレスでログイン', new_user_session_path, class: 'red_btn' %>
  </div>

  <%#= render 'shared/error_messages', model: f.object%>

</div>


<%= render "shared/second-footer"%>